# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.*.local
apps/*/.env

# prisma
apps/backend/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db

# misc
coverage/
.cache/
